In [1]:
from edgar_fundamentals.pysec import PySEC
import pandas as pd

In [2]:
user_email = "miguelcortes0999@gmail.com"
PyConectionSEC = PySEC(user_email)
PyConectionSEC

In [3]:
dir(PyConectionSEC)

['__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__firstlineno__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__static_attributes__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 '_fetch_company_tickers',
 '_get_requests_json',
 'df_company_tickers',
 'get_company_facts',
 'get_company_filings',
 'get_company_metadata',
 'get_company_shares',
 'get_financial_statements',
 'headers',
 'rectification_values_financial_statements']

Estos son los parametros con los que te logeas en la API

In [4]:
PyConectionSEC.headers

{'User-Agent': 'miguelcortes0999@gmail.com'}

Internamente se ejecuta apenas se conecta y consulta cual es el CIK para cada Ticker para poder consultar

In [5]:
PyConectionSEC.df_company_tickers

           cik_str                           title
ticker
AAPL    0000320193                      APPLE INC.
MSFT    0000789019                  MICROSOFT CORP
NVDA    0001045810                     NVIDIA CORP
AMZN    0001018724                  AMAZON COM INC
GOOGL   0001652044                   ALPHABET INC.
...            ...                             ...
SPKLU   0001884046        SPARK I ACQUISITION CORP
SPKLW   0001884046        SPARK I ACQUISITION CORP
HONDW   0002019804        HCM II ACQUISITION CORP.
HONDU   0002019804        HCM II ACQUISITION CORP.
OXY-WT  0000797468  OCCIDENTAL PETROLEUM CORP /DE/

[9708 rows x 2 columns]

# Cambio

A traves de la siguiente función podemos consultar el Ticker a modo de ejemplo y retorna toda la información de este

In [6]:
# metadata = PyConectionSEC.get_company_metadata('AAPL')
# for k in metadata.keys():
#     print(k, ':', None if isinstance(metadata[k], dict) or (isinstance(metadata[k], list) and len(metadata[k])>=5) else metadata[k])

In [7]:
# PyConectionSEC.get_company_facts('AAPL').keys()

In [8]:
# print(PyConectionSEC.get_company_facts('AAPL').keys())
# print(PyConectionSEC.get_company_facts('AAPL')['dei'].keys())
# print(PyConectionSEC.get_company_facts('AAPL')['dei']['EntityCommonStockSharesOutstanding'].keys())
# print(PyConectionSEC.get_company_facts('AAPL')['dei']['EntityCommonStockSharesOutstanding']['units']['shares'])

In [9]:
# PyConectionSEC.get_company_facts('AAPL')['dei']['EntityCommonStockSharesOutstanding']['units']['shares']

# Valiacion

In [10]:
ticker = 'TGLS'

In [11]:
PyConectionSEC.get_company_filings(ticker)

,accessionNumber,filingDate,reportDate,acceptanceDateTime,act,form,fileNumber,filmNumber,items,core_type,size,isXBRL,isInlineXBRL,primaryDocument,primaryDocDescription
0,0001493152-25-009179,2025-03-05,,2025-03-05T12:53:49.000Z,33,144,001-35436,25709772,,144,4345,0,0,xsl144X01/primary_doc.xml,
1,0001493152-25-008697,2025-02-28,2024-12-31,2025-02-28T16:05:47.000Z,34,10-K,001-35436,25690025,,XBRL,9159667,1,1,form10-k.htm,
2,0001493152-25-008446,2025-02-27,2025-02-27,2025-02-27T07:05:28.000Z,34,8-K,001-35436,25672948,"2.02,9.01",XBRL,479381,1,1,form8-k.htm,
3,0001062993-25-002118,2025-02-11,2025-02-04,2025-02-11T17:45:14.000Z,,3,,,,3,2887,0,0,xslF345X02/form3.xml,INITIAL STATEMENT OF BENEFICIAL OWNERSHIP OF S...
4,0001493152-25-005090,2025-02-06,2025-02-04,2025-02-06T07:00:22.000Z,34,8-K,001-35436,25595407,5.02,XBRL,211326,1,1,form8-k.htm,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
488,0000000000-12-001620,2012-01-11,,2012-01-11T08:11:10.000Z,,UPLOAD,,,,LETTER,56658,0,0,filename1.pdf,
489,0001144204-11-071867,2011-12-28,,2011-12-28T15:00:32.000Z,,CORRESP,,,,CORRESP,55867,0,0,filename1.htm,
490,0001144204-11-071857,2011-12-28,,2011-12-28T14:42:35.000Z,33,S-1/A,333-178061,111283696,,S-1/A,1973732,0,0,v243526_s1a.htm,
491,0000000000-11-072302,2011-12-16,,2011-12-16T21:31:53.000Z,,UPLOAD,,,,LETTER,65810,0,0,filename1.pdf,
492,0001144204-11-065822,2011-11-18,,2011-11-18T16:07:54.000Z,33,S-1,333-178061,111216217,,S-1,1290781,0,0,v240993_s1.htm,

In [12]:
PyConectionSEC.ticker_company_metadata_cache.keys()

dict_keys(['cik', 'entityType', 'sic', 'sicDescription', 'ownerOrg', 'insiderTransactionForOwnerExists', 'insiderTransactionForIssuerExists', 'name', 'tickers', 'exchanges', 'ein', 'description', 'website', 'investorWebsite', 'category', 'fiscalYearEnd', 'stateOfIncorporation', 'stateOfIncorporationDescription', 'addresses', 'phone', 'flags', 'formerNames', 'filings'])

In [13]:
df_shares = PyConectionSEC.get_company_shares(ticker)
df_shares

C:\Users\migue\Desktop\edagar fundamentals project\edgar-fundamentals\edgar_fundamentals\pysec.py:65: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  df_last = df_last.set_index("date").resample("M").last().ffill().reset_index()

,date,form_shares,fp_shares,frame_shares,accn_shares,filed_shares,shares_total,shares_circulation,percent_circulation
4,2012-06,10-K/A,FY,None,0001144204-12-036206,2012-06-25,0.000000e+00,5250000.0,inf
5,2012-07,10-Q,Q1,CY2012Q2I,0001144204-12-040501,2012-07-23,0.000000e+00,5250000.0,inf
8,2012-10,10-Q/A,Q2,CY2012Q3I,0001144204-12-056778,2012-10-18,4.039680e+07,5250000.0,0.129961
11,2013-01,10-Q,Q3,CY2012Q4I,0001144204-13-002272,2013-01-14,4.039680e+07,5250000.0,0.129961
17,2013-07,10-Q,Q1,CY2013Q2I,0001144204-13-039555,2013-07-15,4.178544e+07,5250000.0,0.125642
20,2013-10,10-Q,Q2,CY2013Q3I,0001144204-13-056120,2013-10-21,4.178544e+07,5250000.0,0.125642
23,2014-01,10-Q,Q3,CY2013Q4I,0001144204-14-003134,2014-01-21,4.178544e+07,24214670.0,0.579500
27,2014-05,10-Q,Q1,CY2014Q1I,0001144204-14-031208,2014-05-15,4.178544e+07,24310363.0,0.581790
30,2014-08,10-Q,Q2,CY2014Q1I,0001144204-14-050313,2014-08-14,4.949165e+07,24351933.0,0.492041
38,2015-04,10-K,FY,CY2015Q1I,0001144204-15-023016,2015-04-15,4.949165e+07,24801132.0,0.501117
39,2015-05,10-Q,Q1,CY2015Q1I,0001144204-15-028450,2015-05-07,4.949165e+07,24801132.0,0.501117
42,2015-08,10-Q,Q2,CY2015Q2I,0001144204-15-046938,2015-08-06,5.347532e+07,25301132.0,0.473137
45,2015-11,10-Q,Q3,CY2015Q3I,0001144204-15-066041,2015-11-16,5.347532e+07,26665793.0,0.498656
54,2016-08,10-Q,Q2,CY2016Q2I,0001493152-16-012022,2016-08-05,6.615140e+07,27916071.0,0.422003
56,2016-10,10-Q,Q3,CY2016Q3I,0001493152-16-014367,2016-10-31,6.615140e+07,30146390.0,0.455718
63,2017-05,10-Q,Q1,CY2017Q1I,0001493152-17-005148,2017-05-12,6.615140e+07,33487982.0,0.506232
66,2017-08,10-Q,Q2,CY2017Q2I,0001493152-17-008995,2017-08-11,1.098746e+08,33829825.0,0.307895
69,2017-11,10-Q,Q3,CY2017Q3I,0001493152-17-013198,2017-11-14,1.098746e+08,34211265.0,0.311366
75,2018-05,10-Q,Q1,CY2018Q1I,0001493152-18-006503,2018-05-09,1.098746e+08,35340219.0,0.321641
78,2018-08,10-Q,Q2,CY2018Q2I,0001493152-18-011412,2018-08-10,1.099578e+08,37041669.0,0.336872
81,2018-11,10-Q,Q3,CY2018Q3I,0001493152-18-015327,2018-11-07,1.099578e+08,37534416.0,0.341353
87,2019-05,10-Q,Q1,CY2019Q1I,0001493152-19-006692,2019-05-09,1.099578e+08,43631653.0,0.396804
90,2019-08,10-Q,Q2,CY2019Q2I,0001493152-19-012002,2019-08-09,1.216349e+08,44858442.0,0.368796
93,2019-11,10-Q,Q3,CY2019Q3I,0001493152-19-016717,2019-11-08,1.216349e+08,45519472.0,0.374230
97,2020-03,10-K,FY,CY2019Q3I,0001493152-20-003520,2020-03-06,1.216349e+08,46117631.0,0.379148
99,2020-05,10-Q,Q1,CY2020Q1I,0001493152-20-008221,2020-05-11,1.216349e+08,46117631.0,0.379148
102,2020-08,10-Q,Q2,CY2020Q2I,0001493152-20-014868,2020-08-06,1.037326e+08,46117631.0,0.444582
105,2020-11,10-Q,Q3,CY2020Q3I,0001493152-20-020687,2020-11-06,1.037326e+08,47674773.0,0.459593
109,2021-03,10-K,FY,CY2020Q3I,0001493152-21-005578,2021-03-08,1.037326e+08,47674773.0,0.459593
111,2021-05,10-Q,Q1,CY2021Q1I,0001493152-21-010772,2021-05-07,1.037326e+08,47674773.0,0.459593
114,2021-08,10-Q,Q2,CY2021Q2I,0001493152-21-018912,2021-08-06,4.073170e+08,47674773.0,0.117046
117,2021-11,10-Q,Q3,CY2021Q3I,0001493152-21-027511,2021-11-08,4.073170e+08,47674773.0,0.117046
121,2022-03,10-K,FY,CY2021Q3I,0001493152-22-006996,2022-03-16,4.073170e+08,47674773.0,0.117046
123,2022-05,10-Q,Q1,CY2022Q1I,0001493152-22-012719,2022-05-10,4.073170e+08,47674773.0,0.117046
126,2022-08,10-Q,Q2,CY2022Q2I,0001493152-22-021492,2022-08-05,3.340380e+08,47674773.0,0.142723
129,2022-11,10-Q,Q3,CY2022Q3I,0001493152-22-030688,2022-11-04,3.340380e+08,47674773.0,0.142723
133,2023-03,10-K,FY,CY2022Q3I,0001493152-23-006931,2023-03-07,3.340380e+08,47674773.0,0.142723
135,2023-05,10-Q,Q1,CY2023Q1I,0001493152-23-015790,2023-05-08,3.340380e+08,47674773.0,0.142723
138,2023-08,10-Q,Q2,CY2023Q2I,0001493152-23-027217,2023-08-09,1.128225e+09,47673433.0,0.042255
141,2023-11,10-Q,Q3,CY2023Q3I,0001493152-23-039520,2023-11-06,1.128225e+09,47099133.0,0.041746
144,2024-02,10-K,FY,CY2023Q3I,0001493152-24-008362,2024-02-29,1.128225e+09,46996708.0,0.041655
147,2024-05,10-Q,Q1,CY2024Q1I,0001493152-24-018466,2024-05-09,1.128225e+09,46996708.0,0.041655
150,2024-08,10-Q,Q2,CY2024Q2I,0001493152-24-030759,2024-08-08,1.064449e+09,46996608.0,0.044151
153,2024-11,10-Q,Q3,CY2024Q3I,0001493152-24-043999,2024-11-07,1.064449e+09,46995298.0,0.044150
156,2025-02,10-K,FY,CY2025Q1I,0001493152-25-008697,2025-02-28,1.064449e+09,46991558.0,0.044146

In [14]:
df_financial_statements = PyConectionSEC.get_financial_statements(ticker, 'K', True).sort_values('2024-12').map(lambda x: x/1000)
df_financial_statements = df_financial_statements[
    ((df_financial_statements['2024-12'] >= 1 * 1000)\
    & (df_financial_statements['2024-12'] <= 2 * 1000))\
    | (df_financial_statements.index == 'AccountsPayableAndAccruedLiabilitiesCurrent')
]
df_financial_statements = df_financial_statements.map(lambda x: '' if pd.isna(x) else f'{x:,.0f}')
print(df_financial_statements[df_financial_statements.columns[-1:-6:-1]].index)
df_financial_statements[df_financial_statements.columns[-1:-6:-1]]

Index(['FiniteLivedIntangibleAssetsAmortizationExpenseNextTwelveMonths',
       'DebtCurrent', 'LongTermDebtCurrent',
       'LongTermDebtMaturitiesRepaymentsOfPrincipalInNextTwelveMonths',
       'IncreaseDecreaseInEmployeeRelatedLiabilities',
       'InventoryFinishedGoods', 'AmortizationOfIntangibleAssets',
       'OtherLongTermInvestments', 'DeferredCostsCurrent',
       'ProgramRightsObligationsCurrent', 'DeferredTaxLiabilitiesOther',
       'AccountsPayableAndAccruedLiabilitiesCurrent'],
      dtype='object', name='metric')

date,2024-12,2023-12,2022-12,2021-12,2020-12
metric,,,,,
FiniteLivedIntangibleAssetsAmortizationExpenseNextTwelveMonths,"1,048","1,134",975,"1,219","2,185"
DebtCurrent,"1,087","7,002",504,"10,700","1,764"
LongTermDebtCurrent,"1,087","7,002",504,"10,700","1,764"
LongTermDebtMaturitiesRepaymentsOfPrincipalInNextTwelveMonths,"1,087","7,001",504,"10,700","1,764"
IncreaseDecreaseInEmployeeRelatedLiabilities,"1,090","1,109",927,357,115
InventoryFinishedGoods,"1,248","9,941","6,409","8,789","4,941"
AmortizationOfIntangibleAssets,"1,441","1,207","1,391","2,298","2,178"
OtherLongTermInvestments,"1,670","1,429","1,113",309,
DeferredCostsCurrent,"1,782","3,346","3,740","6,026","9,107"
ProgramRightsObligationsCurrent,"1,852","2,722","9,290","11,348",
DeferredTaxLiabilitiesOther,"1,966","2,345",-200,-71,-377
AccountsPayableAndAccruedLiabilitiesCurrent,"98,843","82,784","90,186","68,087","42,326"

In [15]:
BALANCE_SHEET = {
            'CashAndCashEquivalentsAtCarryingValue': 'Cash And Cash Equivalents At Carrying Value\t\t',
                'InventoryGross': 'Inventory Gross\t\t\t',
                    'InventoryRawMaterials': 'Inventory Raw Materials\t\t\t\t',
                    'InventoryWorkInProcess': 'Inventory Work In Process\t\t\t\t',
                    'InventoryFinishedGoods': 'Inventory Finished Goods\t\t\t\t',
                'InventoryValuationReserves': 'Inventory Valuation Reserves\t\t\t',
                'InventoryWriteDown': 'Inventory Write Down\t\t\t',
                'InventoryAdjustments': 'Inventory Adjustments\t\t\t',
            'InventoryNet': 'Inventory Net\t\t',
                'AccountsReceivableNetCurrent': 'Accounts Receivable Net Current\t\t\t',
            'ContractWithCustomerAssetNetCurrent': 'Contract With Customer Asset Net Current\t\t',
        'AssetsCurrent': 'Assets Current\t',
            'ContractWithCustomerAssetNetNoncurrent': 'Contract With Customer Asset Net Non Current\t\t',
                'PropertyPlantAndEquipmentTransfersAndChanges': 'Property Plant And Equipment Transfers And Changes\t\t\t',
                    'PropertyPlantAndEquipmentDisposals': 'Property Plant And Equipment Disposals\t\t\t\t',
                    'PropertyPlantAndEquipmentAdditions': 'Property Plant And Equipment Additions\t\t\t\t',
                    'PropertyPlantAndEquipmentGrossPeriodIncreaseDecrease': 'Property Plant And Equipment Gross Period Increase Decrease\t\t\t\t',
                'PropertyPlantAndEquipmentGross': 'Property Plant And Equipment Gross\t\t\t',
            'PropertyPlantAndEquipmentNet': 'Property Plant And Equipment Net\t\t',
            'Goodwill': 'Goodwill\t\t',
        'AssetsNoncurrent': 'Assets Non Current\t',
    'Assets': 'Assets',
            'DebtCurrent': 'Debt Current\t\t',
            'AccountsPayableAndAccruedLiabilitiesCurrent': 'Accounts Payable And Accrued Liabilities Current\t\t',
        'LiabilitiesCurrent': 'Liabilities Current\t',
            'LongTermDebtNoncurrent': 'Long Term Debt Non Current\t\t',
        'LiabilitiesNoncurrent': 'Liabilities Non Current\t',
    'Liabilities': 'Liabilities',
    'StockholdersEquity': 'Stockholders Equity',
    'LiabilitiesAndStockholdersEquity': 'Liabilities And Stockholders Equity',
}

In [19]:
df_financial_statements = PyConectionSEC.get_financial_statements(ticker, 'K', True).sort_values('2024-12').map(lambda x: x/1000)
BALANCE_SHEET_REPLACE = {k: v.replace('\t', '____') for k, v in BALANCE_SHEET.items()}
df_financial_statements = df_financial_statements.rename(index=BALANCE_SHEET_REPLACE)
df_financial_statements = df_financial_statements.reindex(BALANCE_SHEET_REPLACE.values())
df_financial_statements[df_financial_statements.columns[-1:-6:-1]].map(lambda x: '' if pd.isna(x) else f'{x:,.0f}')

date,2024-12,2023-12,2022-12,2021-12,2020-12
metric,,,,,
Cash And Cash Equivalents At Carrying Value________,"134,882","129,508","103,671","85,011","67,668"
Inventory Gross____________,"139,910","159,279","125,109","85,097","81,332"
Inventory Raw Materials________________,"98,336","100,828","93,360","54,443","47,282"
Inventory Work In Process________________,"16,891","19,738","9,875","11,126","19,345"
Inventory Finished Goods________________,"1,248","9,941","6,409","8,789","4,941"
Inventory Valuation Reserves____________,268,209,112,122,83
Inventory Write Down____________,,,,,
Inventory Adjustments____________,,209,112,,
Inventory Net________,"139,642","159,070","124,997","84,975","81,249"
Accounts Receivable Net Current____________,"202,915","166,498","158,397","110,539","89,376"
Contract With Customer Asset Net Current________,"22,920","17,800","12,610","18,667","28,405"
Assets Current____,"560,010","535,760","432,134","326,275","285,161"
Contract With Customer Asset Net Non Current________,"15,208","8,797","8,875","11,853","10,228"
Property Plant And Equipment Transfers And Changes____________,,,,,
Property Plant And Equipment Disposals________________,,,,,26
Property Plant And Equipment Additions________________,,,,,"18,323"
Property Plant And Equipment Gross Period Increase Decrease________________,,,,,
Property Plant And Equipment Gross____________,"490,296","471,216","304,669","248,583","232,894"
Property Plant And Equipment Net________,"344,433","324,591","202,865","166,629","152,474"
Goodwill________,"23,561","23,561","23,561","23,561","23,561"
Assets Non Current____,"456,638","426,957","302,174","265,288","244,951"
Assets,"1,016,648","962,717","734,308","591,563","530,112"
Debt Current________,"1,087","7,002",504,"10,700","1,764"
Accounts Payable And Accrued Liabilities Current________,"98,843","82,784","90,186","68,087","42,326"
Liabilities Current____,"265,826","235,886","209,802","155,015","94,056"
Long Term Debt Non Current________,"108,220","163,004","168,980","188,355","222,722"
Liabilities Non Current____,"119,639","178,811","174,181","191,850","227,514"
Liabilities,"385,465","414,697","383,983","346,865","321,570"
Stockholders Equity,,"548,020","348,820","243,862","207,982"
Liabilities And Stockholders Equity,"1,016,648","962,717","734,308","591,563","530,112"

# Ocultar

In [15]:
aux = pd.DataFrame(PyConectionSEC.ticker_company_fact_cache["us-gaap"]['CashCashEquivalentsRestrictedCashAndRestrictedCashEquivalents']['units']['USD'])

KeyError: 'CashCashEquivalentsRestrictedCashAndRestrictedCashEquivalents'

In [ ]:
aux['end'].unique()

array(['2013-12-31', '2014-03-31', '2014-06-30', '2014-09-30',
       '2014-12-31', '2015-03-31', '2015-06-30', '2015-12-31',
       '2016-03-31', '2016-06-30', '2016-09-30', '2016-12-31',
       '2017-03-31', '2017-06-30', '2017-09-30', '2017-12-31',
       '2018-03-31', '2018-06-30', '2018-09-30', '2018-12-31',
       '2019-03-31', '2019-06-30', '2019-09-30', '2019-12-31',
       '2020-03-31', '2020-06-30', '2020-09-30', '2020-12-31',
       '2021-03-31', '2021-06-30', '2021-09-30', '2021-12-31',
       '2022-03-31', '2022-06-30', '2022-09-30', '2022-12-31',
       '2023-03-31', '2023-06-30', '2023-09-30', '2023-12-31',
       '2024-03-31', '2024-06-30', '2024-09-30', '2024-12-31'],
      dtype=object)

In [ ]:
df_financial_statements[df_financial_statements['metric']=='StockholdersEquity']

,metric,date,end,val,accn,fy,fp,form,filed,frame,start
919,StockholdersEquity,2011-12,2011-12-31,33616000.0,0001144204-16-105597,2013.0,FY,10-K/A,2016-05-27,CY2011Q4I,None
924,StockholdersEquity,2012-12,2012-12-31,47287000.0,0001144204-16-105597,2013.0,FY,10-K/A,2016-05-27,CY2012Q4I,None
929,StockholdersEquity,2013-12,2013-12-31,46866000.0,0001144204-16-105670,2015.0,FY,10-K,2016-05-31,CY2013Q4I,None
933,StockholdersEquity,2014-12,2014-12-31,46197000.0,0001493152-17-002342,2016.0,FY,10-K,2017-03-10,CY2014Q4I,None
937,StockholdersEquity,2015-12,2015-12-31,37813000.0,0001493152-17-002342,2016.0,FY,10-K,2017-03-10,CY2015Q4I,None
941,StockholdersEquity,2016-12,2016-12-31,113565000.0,0001493152-18-003346,2017.0,FY,10-K,2018-03-14,CY2016Q4I,None
945,StockholdersEquity,2017-12,2017-12-31,120248000.0,0001493152-19-003046,2018.0,FY,10-K,2019-03-08,CY2017Q4I,None
949,StockholdersEquity,2018-12,2018-12-31,132356000.0,0001493152-20-003520,2019.0,FY,10-K,2020-03-06,CY2018Q4I,None
953,StockholdersEquity,2019-12,2019-12-31,186604000.0,0001493152-21-005578,2020.0,FY,10-K,2021-03-08,CY2019Q4I,None
957,StockholdersEquity,2020-12,2020-12-31,207982000.0,0001493152-22-006996,2021.0,FY,10-K,2022-03-16,CY2020Q4I,None
961,StockholdersEquity,2021-12,2021-12-31,243862000.0,0001493152-23-006931,2022.0,FY,10-K,2023-03-07,CY2021Q4I,None
965,StockholdersEquity,2022-12,2022-12-31,348820000.0,0001493152-24-008362,2023.0,FY,10-K,2024-02-29,CY2022Q4I,None
969,StockholdersEquity,2023-12,2023-12-31,548020000.0,0001493152-24-008362,2023.0,FY,10-K,2024-02-29,CY2023Q4I,None

In [ ]:
# pd.options.display.float_format = '{:,.0f}'.format
c = df_financial_statements.pivot_table(index='metric', columns='date', values='val', aggfunc='max')
c = c.apply(lambda x: x/1000)
# c = c[(c['2019-12']>=400000) & (c['2019-12']<=450000)].loc[:, c.columns[-1:4:-1]]
c.sort_values('2013-12', ascending=False)[c.columns[-5::]]

date,2020-12,2021-12,2022-12,2023-12,2024-12
metric,,,,,
Assets,530112.0,591563.0,734308.0,962717.0,1016648.0
LiabilitiesAndStockholdersEquity,530112.0,591563.0,734308.0,962717.0,1016648.0
Liabilities,321570.0,346865.0,383983.0,414697.0,385465.0
AssetsCurrent,285161.0,326275.0,432134.0,535760.0,560010.0
LiabilitiesCurrent,94056.0,155015.0,209802.0,235886.0,265826.0
LiabilitiesNoncurrent,227514.0,191850.0,174181.0,178811.0,119639.0
AccountsReceivableNetCurrent,89376.0,110539.0,158397.0,166498.0,202915.0
LongTermDebtNoncurrent,222722.0,188355.0,168980.0,163004.0,108220.0
StockholdersEquity,207982.0,243862.0,348820.0,548020.0,NaN
AccountsPayableAndAccruedLiabilitiesCurrent,42326.0,68087.0,90186.0,82784.0,98843.0
DebtCurrent,1764.0,10700.0,504.0,7002.0,1087.0
OperatingIncomeLoss,65707.0,116985.0,226415.0,259762.0,227001.0
InventoryNet,81249.0,84975.0,124997.0,159070.0,139642.0
IncomeTaxExpenseBenefit,13033.0,28485.0,74758.0,77904.0,63849.0
CashAndCashEquivalentsAtCarryingValue,67668.0,85011.0,103671.0,129508.0,134882.0
ShortTermInvestments,2387.0,1977.0,2049.0,2907.0,2645.0
AssetsNoncurrent,244951.0,265288.0,302174.0,426957.0,456638.0
DepreciationAndAmortization,20623.0,20923.0,19686.0,21878.0,26470.0
Goodwill,23561.0,23561.0,23561.0,23561.0,23561.0
InterestExpense,20699.0,8482.0,6786.0,7935.0,6219.0
SalesNet,376607.0,496785.0,716570.0,833265.0,890181.0

# OCULTAR

In [41]:
df_financial_statements = PyConectionSEC.get_company_facts(ticker)
print(df_financial_statements.keys())
names = list(df_financial_statements['us-gaap'].keys())
print(df_financial_statements['us-gaap'][names[0]]['units']['USD'])

dict_keys(['dei', 'us-gaap'])
[{'end': '2015-12-31', 'val': 1725000, 'accn': '0001493152-16-014367', 'fy': 2016, 'fp': 'Q3', 'form': '10-Q', 'filed': '2016-10-31', 'frame': 'CY2015Q4I'}, {'end': '2015-12-31', 'val': 1725000, 'accn': '0001493152-16-012022', 'fy': 2016, 'fp': 'Q2', 'form': '10-Q', 'filed': '2016-08-05'}, {'end': '2015-12-31', 'val': 7794000, 'accn': '0001144204-16-106632', 'fy': 2016, 'fp': 'Q1', 'form': '10-Q', 'filed': '2016-06-03'}, {'end': '2016-03-31', 'val': 11785000, 'accn': '0001144204-16-106632', 'fy': 2016, 'fp': 'Q1', 'form': '10-Q', 'filed': '2016-06-03', 'frame': 'CY2016Q1I'}, {'end': '2016-06-30', 'val': 1918000, 'accn': '0001493152-16-012022', 'fy': 2016, 'fp': 'Q2', 'form': '10-Q', 'filed': '2016-08-05', 'frame': 'CY2016Q2I'}, {'end': '2016-09-30', 'val': 2227000, 'accn': '0001493152-16-014367', 'fy': 2016, 'fp': 'Q3', 'form': '10-Q', 'filed': '2016-10-31', 'frame': 'CY2016Q3I'}, {'end': '2016-12-31', 'val': 2009000, 'accn': '0001493152-17-013198', 'fy': 2017, 'fp': 'Q3', 'form': '10-Q', 'filed': '2017-11-14', 'frame': 'CY2016Q4I'}, {'end': '2016-12-31', 'val': 2009000, 'accn': '0001493152-17-008995', 'fy': 2017, 'fp': 'Q2', 'form': '10-Q', 'filed': '2017-08-11'}, {'end': '2016-12-31', 'val': 2009000, 'accn': '0001493152-17-005148', 'fy': 2017, 'fp': 'Q1', 'form': '10-Q', 'filed': '2017-05-12'}, {'end': '2017-03-31', 'val': 1908000, 'accn': '0001493152-17-005148', 'fy': 2017, 'fp': 'Q1', 'form': '10-Q', 'filed': '2017-05-12', 'frame': 'CY2017Q1I'}, {'end': '2017-06-30', 'val': 1608000, 'accn': '0001493152-17-008995', 'fy': 2017, 'fp': 'Q2', 'form': '10-Q', 'filed': '2017-08-11', 'frame': 'CY2017Q2I'}, {'end': '2017-09-30', 'val': 2187000, 'accn': '0001493152-17-013198', 'fy': 2017, 'fp': 'Q3', 'form': '10-Q', 'filed': '2017-11-14', 'frame': 'CY2017Q3I'}]